In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('./datasets/dataset_train.csv')

In [ ]:
df.dropna(inplace=True,axis=0)

In [ ]:
df.drop(columns=['Index'], inplace=True)

In [ ]:
df

In [20]:
df.columns

Index(['Hogwarts House', 'First Name', 'Last Name', 'Birthday', 'Best Hand',
       'Arithmancy', 'Astronomy', 'Herbology', 'Defense Against the Dark Arts',
       'Divination', 'Muggle Studies', 'Ancient Runes', 'History of Magic',
       'Transfiguration', 'Potions', 'Care of Magical Creatures', 'Charms',
       'Flying'],
      dtype='object')

In [123]:
df2 = df['Hogwarts House'].value_counts()
df2['total'] = df2.sum()
count = df2.values.astype(int)
house = df2.index.tolist()
percent = (count/count[-1] * 100).round(2)

# Construct the DataFrame line by line
data = {
    'Statistic': ['Count', 'Percentage'],
}

for i in range(len(house)):
    data[house[i]] = [count[i], percent[i]]

df_repartition = pd.DataFrame(data)
df_repartition

    Statistic  Hufflepuff  Ravenclaw  Gryffindor  Slytherin   total
0       Count      415.00     351.00      261.00     224.00  1251.0
1  Percentage       33.17      28.06       20.86      17.91   100.0

In [92]:
df3

House   Statistic  Hufflepuff  Ravenclaw  Gryffindor  Slytherin   total
0           Count      415.00     351.00      261.00     224.00  1251.0
1      percentage       33.17      28.06       20.86      17.91   100.0

In [ ]:
df['Arithmancy'] = df['Arithmancy'].astype(float)

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
numeric_columns = df.select_dtypes(include=['number'])
numeric_columns

In [ ]:
df.dtypes

In [ ]:
df['Birthday'] = pd.to_datetime(df['Birthday'])

In [ ]:
df.describe()